* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1366px;
  margin: 0 auto;
}

.container {
  max-width: 1166px;
  margin: 0 auto;
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 345px;
  }
}

#hausenn_welcome {
  background-image: url("/image/header_photo_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hausenn_welcome img {
  display: block;
  width: 510px;
  height: 510px;
  margin: 0 auto;
}

.banner_hausenn_logo {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 376px) {
  .banner_hausenn_logo {
    margin-top: 20px;
  }
}

.banner_hausenn_logo img {
  max-width: 200px;
}

@media screen and (max-width: 376px) {
  .banner_hausenn_logo img {
    max-width: 125px;
  }
}

#hausenn_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 205px;
}

@media screen and (max-width: 376px) {
  #hausenn_banner {
    margin-top: 20px;
  }
}

#deconstruct {
  position: relative;
}

#deconstruct_photo {
  max-width: 100%;
}

#deconstruct_backgroud {
  background-color: #8a7f7c;
  position: absolute;
  top: 150px;
  left: -30px;
  width: 1023px;
  height: 390px;
  z-index: -1;
}

@media screen and (max-width: 376px) {
  #deconstruct_backgroud {
    display: none;
  }
}

#deconstruct_text {
  position: absolute;
  top: 335px;
  left: 380px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 4px;
  line-height: 40px;
}

@media screen and (max-width: 376px) {
  #deconstruct_text {
    display: none;
  }
}

#half_logo {
  margin-top: 75px;
  margin-right: 73px;
  max-width: 27px;
}

#half_logo img {
  max-width: 100%;
}

@media screen and (max-width: 376px) {
  #half_logo {
    margin-top: 15px;
    margin-right: 10px;
    max-width: 10px;
  }
}

.contant {
  max-width: 100px;
}

.contant img {
  max-width: 100%;
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}

@media screen and (max-width: 376px) {
  .contant img {
    max-width: 20px;
  }
}

@media screen and (max-width: 376px) {
  .contant {
    max-width: 20px;
  }
}

#remodel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 95px 100px 0 100px;
}

#remodel img {
  margin-left: 40px;
  max-width: 570px;
}

#remodel_text {
  letter-spacing: 3px;
}

@media screen and (max-width: 376px) {
  #remodel {
    display: none;
  }
}

#interweaving {
  margin: 135px 100px 360px 100px;
}

@media screen and (max-width: 376px) {
  #interweaving {
    margin: 75px 30px;
  }
}

#interweaving_title {
  margin-left: 275px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 2rem;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media screen and (max-width: 376px) {
  #interweaving_title {
    margin: 0;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: bold;
  }
  #interweaving_title span {
    display: block;
  }
}

#interweaving_subtitle {
  margin-left: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 376px) {
  #interweaving_subtitle {
    display: block;
    margin: 0;
  }
}

#interweaving_line {
  background-color: black;
  width: 55px;
  height: 7px;
}

@media screen and (max-width: 376px) {
  #interweaving_line {
    margin: 20px 0;
    width: 35px;
    height: 4px;
  }
}

#interweaving_text {
  text-transform: uppercase;
  letter-spacing: 3px;
}
