.banner_hausenn_logo {
    margin-top: 50px;
    text-align: center;

    img {
        max-width: 200px;
    }
}

#hausenn_banner {
    display: flex;
    margin-top: 205px;
}

#deconstruct {
    position: relative;

    &_photo {
        max-width: 100%;
    }

    &_text {
        position: absolute;
        top: 210px;
        left: 100px;
        max-width: 1023px;
    }
}

#half_logo {
    margin-top: 75px;
    margin-right: 73px;
    max-width: 27px;
    img{
        max-width: 100%;
    }
}
.contant{
    max-width: 100px;
    img{
        filter: brightness(0%);
        max-width: 100%;
    }
}

#descript {
    font-family: sans-serif;
    margin-left: 300px;
    margin-top: 90px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
    letter-spacing: 4px;
    line-height: 40px;
}

#remodel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 95px 100px 0 100px;

    img {
        margin-left: 40px;
        max-width: 570px;
        // height: 292px;
    }

    &_text {
        letter-spacing: 3px;
    }
}

#interweaving {
    margin:135px 100px 360px 100px;
    &_title {
        margin-left: 275px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 34px;
        letter-spacing: 4px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    &_subtitle{
        margin-left: 275px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_line{
        background-color: black;
        width: 55px;
        height: 7px;
    }
    &_text{
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}