#nav {
  padding: 40px 0 0px 150px;
  background: #000;
  // opacity: ;
  height: 100vh;
  width: 50%;

  display: none;

  .title {
    display: block;
    height:41px;
    padding-bottom: 20px;
    
  }
  .subtitle {
    display: inline-block;
    border-right: 2px solid white;
    padding-right: 10px;
    height:20px;
    margin-bottom: 140px;
  }

  img:nth-child(4){
    border: none;
  }
  img:nth-child(n+5){
    display: block;
    height:50px;
    margin-bottom: 40px;
  }
  // img:nth-child(6){
  //   display: block;
  //   height:30px;
    
  // }
  i {
    padding-right: 20px;
    font-size: 30px;
    color:white;
    margin-top: 150px;
  }

}

.menu {
  &__hamburger {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 4;
    @media screen and (max-width: 600px){
      top: 35px;
      left: 20px;
    }
  }
}
.menu__hamburger {
  display: inline-block;
  cursor: pointer;
}
.bar11,.bar12, .bar21, .bar22, .bar31, .bar32{
  display: inline-block;
  width: 17px;
  height: 3px;
  background:black;
  opacity: 1;
  transition: 0.5s;
}
.bar1,.bar2,.bar3{
  height: 8px;
}
.bar11, .bar21, .bar31 {
  margin-right: 5px;
}
.change .bar11, .change .bar12, .change .bar31, .change .bar32{
  width: 20px;
  background:white;
}

.change .bar11 {
/*   -webkit-transform: rotate(-45deg) translate(-9px, 6px); */
  transform: rotate(45deg);
}
.change .bar12 {
  transform:  translate(-17px, 0px) rotate(-45deg);
}

.change .bar31 {
  transform: rotate(-45deg) translate(0px,-2px);
}

.change .bar32 {
  transform: translate(-17px, -2px) rotate(45deg);
}

.change .bar21, .change .bar22 {opacity: 0;}

