.banner_hausenn_logo {
    margin-top: 50px;
    text-align: center;

    @media screen and (max-width: 376px) {
        margin-top: 20px;
    }

    img {
        max-width: 200px;

        @media screen and (max-width: 376px) {
            max-width: 125px;
        }
    }
}

#hausenn_banner {
    display: flex;
    margin-top: 205px;

    @media screen and (max-width: 376px) {
        margin-top: 20px;
    }
}

#deconstruct {
    position: relative;


    &_photo {
        max-width: 100%;
    }

    &_backgroud {
        background-color: #8a7f7c;
        position: absolute;
        top: 150px;
        left: -30px;
        width: 1023px;
        height: 390px;
        z-index: -1;

        @media screen and (max-width: 376px) {
            display: none;
        }
    }

    &_text {
        position: absolute;
        top: 335px;
        left: 380px;
        font-family: sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 34px;
        letter-spacing: 4px;
        line-height: 40px;

        @media screen and (max-width: 376px) {
            display: none;
        }
    }
}

#half_logo {
    margin-top: 75px;
    margin-right: 73px;
    max-width: 27px;

    img {
        max-width: 100%;
    }

    @media screen and (max-width: 376px) {
        margin-top: 15px;
        margin-right: 10px;
        max-width: 10px;
    }
}

.contant {
    max-width: 100px;

    img {
        max-width: 100%;
        filter: brightness(0%);
        //visibility: hidden;

        @media screen and (max-width: 376px) {
            max-width: 20px;
        }
    }

    @media screen and (max-width: 376px) {
        max-width: 20px;
    }
}

#remodel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 95px 100px 0 100px;

    img {
        margin-left: 40px;
        max-width: 570px;
        // height: 292px;
    }

    &_text {
        letter-spacing: 3px;
    }

    @media screen and (max-width: 376px) {
        display: none;
    }
}

#interweaving {
    margin: 135px 100px 360px 100px;
    @media screen and (max-width: 376px) {
        margin: 75px 30px;
    }
    &_title {
        margin-left: 275px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 2rem;
        letter-spacing: 4px;
        font-weight: bold;
        margin-bottom: 20px;

        @media screen and (max-width: 376px) {
            margin:0;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 1rem;
            letter-spacing: 3px;
            font-weight: bold;

            span {
                display: block;
            }
        }
    }

    &_subtitle {
        margin-left: 275px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 376px) {
            display: block;
            margin: 0;
        }
    }

    &_line {
        background-color: black;
        width: 55px;
        height: 7px;
        @media screen and (max-width: 376px) {
            margin: 20px 0;
            width: 35px;
            height: 4px;
        }
    }

    &_text {
        text-transform: uppercase;
        letter-spacing: 3px;
    }

}