#hausenn_welcome {
    background-image: url("/image/header_photo_background.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    img{
        display: block;
        width: 510px;
        height: 510px;
        margin: 0 auto;
    }
}