.menu {
  &__hamburger {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 4;
    @media screen and (max-width: 600px){
      top: 35px;
      left: 20px;
    }
    width: 39px;
    height: 19px;
    background: red;
  }
}


.contact {
  position: fixed;
  z-index: 4;
  right: 0;
  top:0;
  bottom: 0;
  width: 100px;
  display: flex;
  @media screen and (max-width: 600px){
    display: none;
  }
  img {
    width: 100%;
    margin-bottom: 378px;
  }
  
}

.welcome {
  background-image: url("../image/header_photo_background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  outline: orange 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center{
  display: flex;
  align-items: center;
  &__line {
    background:white;
    width: 175px;
    height: 2px;
    display: inline-block;
    @media screen and (max-width: 600px){
      display: none;
    }
  }
  
  img {
    width: 510px;
    @media screen and (max-width: 600px){
      width: 335px;
    }
  }
  &__arrow {
    width: 24px;
    height: 34px;
    position: absolute;
    bottom: 80px;
  }
}
