* {
    margin: 0;
    padding: 0;
}
body{
    max-width: 1366px;
    margin: 0 auto; 
}
.container {
    max-width: 1166px;
    margin: 0 auto;
    @media screen and (max-width: 375px) {
        max-width: 345px;
    }
}